<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANgGouY4dKW6SQ8UaaNJXxXvJdxLIAZ1E&callback=initMap"></script>
<!--<link rel="icon" href="">-->
</head>

<style>

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #ff1919;
  box-shadow: 0 1px 1px rgba(255, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
  outline: 0 none;
}
*{
	border-radius: 0px !important;
}
#shiftdown{
	padding-top: 70px;
}
.well{
	border-radius: 0px;
}
.navbar,.well{
	background-color: rgb(255,255,255);
	 -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
   	box-shadow:0px 1px 1px rgba(0,0,0,0.3);
	border-left: 3px solid rgba(255,0,0,0.7);
}
.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}
#rlprevinput{
    min-width:600px;
}
@media only screen and (max-width: 926px) {
    .rlimage {
	height:50px;
	width: 180px;
    }
}
@media only screen and (max-width: 886px) {
    .rlimage {
	height:50px;
	width: 140px;
    }
}
@media only screen and (max-width: 846px) {
    #rlprevinput {
	min-width: 500px;
    }
}
@media only screen and (max-width: 767px) {
	form.navbar-form{
	text-align: center;
	padding-left: 10%;
	}
	.rlimage{
    padding-left: 30%;
    width: 180px;
    height: 50px;
  	}
  	#shiftdown{padding-top: 130px;

  	}
  	#resultscolumn{padding-left: 0px;}
}
@media only screen and (max-width: 613px) {
	form.navbar-form{
	text-align: center;
	padding-left: 5%;
	}	
    #rlprevinput {
	min-width: 400px; 
    }
}
@media only screen and (max-width: 497px) {
	form.navbar-form{
	text-align: center;
	padding-left: 5%;
	}
	.rlimage{
	padding-left: 20%;
  	}
	#rlprevinput {
	min-width: 300px; 
    }
}
@media only screen and (max-width: 358px) {
	form.navbar-form{
	text-align: center;
	padding-left: 5%;
	}
	.rlimage{
	padding-left: 20%;
  	}
	#rlprevinput {
	min-width: 240px; 
    }
}
@media only screen and (max-width: 293px) {
	form.navbar-form{
	text-align: center;
	padding-left: 5%;
	}
	.rlimage{
	padding-left: 10%;
  	}
	#rlprevinput {
	min-width: 180px; 
    }
}
       #map {
        height: 400px;
        width: 100%;
       }

</style>

<body style="background-color: rgba(0,0,0,0.07);">


<header></header>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
    	<div class="navbar-header rlimage">
      		<a class="navbar-brand nopadding rlimage" href="#">
        	<img alt="Brand" src="logo_main.png" style="width:220px;height:50px;padding-top: 5px;" class="rlimage img-responsive">
      		</a>
    	</div>
    	<form class="navbar-form" role="search">
		<div class="input-group">
    		<input type="text" min="0" max="5" class="form-control input-sm" list="list1" id="rlprevinput" placeholder="Search text" name="abc" >
    		<datalist id="list1" ></datalist>
    		<span class="input-group-btn" style="width:0;">
        	<button class="btn btn-default "  style="border:2px solid #c7c5c5;" type="button"  id="submitBtn"><i class="glyphicon glyphicon-search"></i></button>
    		</span>
		</div>
		</form>
	</div>
</nav>

<div class="container-fluid">


<div class="row" id="shiftdown">


	<div class="col-sm-8 well well-sm">

    <div id="map"></div>
  
	</div>
	
	<div class="col-sm-4" style="padding-right: 0px;" id="resultscolumn">
	<div class="well well-sm" >



    
    <button type="button" class="btn btn-info" style="margin-left:0px;" id="btn_recommend_olduser">Recommend</button>
    
    <div class="col-md-12" id="wholenewdiv1">
    
    </div>
    

	</div>
	<div>
    
</div> <!-- row-main ends -->


</div> <!-- container-fluid -->



<script>

function geocodeLatLng(geocoder, map, infowindow) {
	var input = document.getElementById('latlng').value;
	var latlngStr = input.split(',', 2);
	var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};

	geocoder.geocode({'location': latlng}, function(results, status) {
    	if (status === 'OK') {
      		if (results[1]) {
        		map.setZoom(11);
        		var marker = new google.maps.Marker({
          			position: latlng,
          			map: map
        		});
        	infowindow.setContent(results[1].formatted_address);
        	infowindow.open(map, marker);
      		} 
      		else {window.alert('No results found');}
    	} 
    	else {window.alert('Geocoder failed due to: ' + status);}
  	});
}


/*window.onload = function() {
	
};*/

		
function success(pos) {
  	var crd = pos.coords;

  	console.log('Your current position is:');
  	console.log(`Latitude : ${crd.latitude}`);
  	console.log(`Longitude: ${crd.longitude}`);
  	console.log(`More or less ${crd.accuracy} meters.`);

  	return crd;
};

function error(err) {
  	alert("Timeout Occurred. Please reload the page");
  	console.log(`${err.code} and message ${err.message}`);
};



var oldMarker;

function initMap() {
	
	var options = {
  		enableHighAccuracy: true,
  		timeout: 10000,
  		maximumAge: 0
		};

	var crd = navigator.geolocation.getCurrentPosition(success, error, options);
	console.log(crd);
	var latlng = new google.maps.LatLng(77.1,88.3);
    var myOptions = {
        zoom: 2,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
   		mapTypeControl: true,
        mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
            position: google.maps.ControlPosition.LEFT_TOP
          },
        zoomControl: true,
        zoomControlOptions: {
            position: google.maps.ControlPosition.LEFT_BOTTOM
        },
        scaleControl: true,
        streetViewControl: true,
        streetViewControlOptions: {
            position: google.maps.ControlPosition.LEFT_BOTTOM
        },
        fullscreenControl: true,
        styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
        ]
	};

    var map = new google.maps.Map(document.getElementById("map"),myOptions);

	google.maps.event.addListener(map, 'click', function(event) {
        placeMarker(event.latLng);
    });

    function placeMarker(location) {
		var marker = new google.maps.Marker({
            position: location,
            map: map,
            animation: google.maps.Animation.DROP,
        });
            
        if (oldMarker != undefined){
            oldMarker.setMap(null);
        }
        oldMarker = marker;
    }

    var geocoder = new google.maps.Geocoder;
  	var infowindow = new google.maps.InfoWindow;
    geocodeLatLng(geocoder, map, infowindow);
}
    
/*var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};*/
	$(function() {
    	$("#btn_recommend_olduser").click(function() {
    
         
         var a = document.getElementById("wholenewdiv1");
                while(a.hasChildNodes()) {
                a.removeChild(a.lastChild);
                    }
                var imgload =document.createElement("img");
                imgload.src="{{ url_for('static',filename='3.gif')}}";
                imgload.style.textAlign="left";
                imgload.style.margin="50px";
                imgload.style.width="40";
                imgload.style.height="40";
                document.getElementById("wholenewdiv1").appendChild(imgload);
                
         //var a = document.getElementById("wholenewdiv");
         
         $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/recommend_olduser",
            contentType: "application/json; charset=utf-8",
            data: { echo : "hello" },
            success: function(data) {
                var a1 = document.getElementById("wholenewdiv1");
                while(a1.hasChildNodes()) {
                a1.removeChild(a1.lastChild);
                    }
                list=data.value
                console.log(list.length)
                // list= data.value;
                
                // console.log(list.length);
                // console.log(list[0]);
                // console.log(list[0][1].replace(/'/g,''))
                // console.log(list[0][0].replace(/'/g,''))
               for( var i=1; i<list.length;i++)
                {
                
                
                var name1=list[i][0][0];
                var name2=list[i][0][1];
                var name3=list[i][0][2];
                var name4=list[i][0][3];
                
                var divrow =document.createElement("div");
                divrow.className="row well well-sm";
                var divcol1 =document.createElement("div");
                divcol1.className="col-md-4";
                var divcol2 =document.createElement("div");
                divcol2.className="col-md-8";
                var a =document.createElement("a");
                a.href = "#";
                var img =document.createElement("img");
                var h50=document.createElement("h5");
                var h51=document.createElement("h5");
                var h52=document.createElement("h5");
                var h53=document.createElement("h5");
                img.src="{{ url_for('static',filename='movie.jpg')}}";
                img.style.textAlign="left";
                img.style.width="120";
                img.id=list[i][0][3];
                var val = document.createAttribute("onclick");
                val.value = "movieClick(this.id)";
                img.setAttributeNode(val);
                /*var elem = document.createElement("img");
                elem.src = list[4];
                /*list[i][0].replace(/'/g,'')
                list[i][1].replace(/'/g,'')
                list[i][2].replace(/'/g,'')
                list[i][3].replace(/'/g,'')*/
                
                h50.innerHTML="Movie Title: "+name1;
                h51.innerHTML="Genre: "+name2;
                h52.innerHTML="Year of Release: "+name3;
                h53.innerHTML="Movie ID.: "+name4;
                divrow.appendChild(divcol1);
                divrow.appendChild(divcol2);
                divcol1.appendChild(a);
                a.appendChild(img);
                divcol2.appendChild(h50);
                divcol2.appendChild(h51);
                divcol2.appendChild(h52);
                divcol2.appendChild(h53);
                document.getElementById("wholenewdiv1").appendChild(divrow);
                
                
                            
            }
        
                               
            }
             
                  
            
        });  
    });
  });
$(function() {
    $("#btn_recommend_newuser").click(function() {
         
         var a = document.getElementById("wholenewdiv1");
                while(a.hasChildNodes()) {
                a.removeChild(a.lastChild);
                    }
                
         //var a = document.getElementById("wholenewdiv");
         
         $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/recommend_newuser",
            contentType: "application/json; charset=utf-8",
            data: { echo : "hello" },
            success: function(data) {
                list=data.value
                console.log(list.length)
                list= data.value;
                
                console.log(list.length);
                console.log(list[0]);
/*                console.log(list[0][1].replace(/'/g,''))
                console.log(list[0][0].replace(/'/g,''))
*/
               for( var i=1; i<list.length;i++)
                {
                
                
                var name1=list[i][0][0];
                var name2=list[i][0][1];
                var name3=list[i][0][2];
                var name4=list[i][0][3];
                
                var divrow =document.createElement("div");
                divrow.className="row well well-sm";
                var divcol1 =document.createElement("div");
                divcol1.className="col-md-4";
                var divcol2 =document.createElement("div");
                divcol2.className="col-md-8";
                var a =document.createElement("a");
                a.href = "#";
                var img =document.createElement("img");
                var h50=document.createElement("h5");
                var h51=document.createElement("h5");
                var h52=document.createElement("h5");
                var h53=document.createElement("h5");
                img.src="{{ url_for('static',filename='movie.jpg')}}";
                img.style.textAlign="left";
                img.style.width="120";
                img.id=list[i][0][3];
                var val = document.createAttribute("onclick");
                val.value = "movieClick(this.id)";
                img.setAttributeNode(val);
                /*var elem = document.createElement("img");
                elem.src = list[4];
                /*list[i][0].replace(/'/g,'')
                list[i][1].replace(/'/g,'')
                list[i][2].replace(/'/g,'')
                list[i][3].replace(/'/g,'')*/
                
                h50.innerHTML="Movie Title: "+name1;
                h51.innerHTML="Genre: "+name2;
                h52.innerHTML="Year of Release: "+name3;
                h53.innerHTML="Movie ID.: "+name4;
                divrow.appendChild(divcol1);
                divrow.appendChild(divcol2);
                divcol1.appendChild(a);
                a.appendChild(img);
                divcol2.appendChild(h50);
                divcol2.appendChild(h51);
                divcol2.appendChild(h52);
                divcol2.appendChild(h53);
                document.getElementById("wholenewdiv1").appendChild(divrow);
                
                
                            
            }
        
                               
            }
             
                  
            
        });  
    });
  });
$(function() {
    $("#btn_recommend").click(function() {
         
         var a = document.getElementById("wholenewdiv1");
                while(a.hasChildNodes()) {
                a.removeChild(a.lastChild);
                    }
                
         //var a = document.getElementById("wholenewdiv");
         
         $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/recommend",
            contentType: "application/json; charset=utf-8",
            data: { echo : "hello" },
            success: function(data) {
                list= data.value;
                console.log(list.length);
                console.log(list[0]);
                 for( var i=0; i<list.length;i++)
                {
                var divrow =document.createElement("div");
                divrow.className="row well well-sm";
                var divcol1 =document.createElement("div");
                divcol1.className="col-md-4";
                var divcol2 =document.createElement("div");
                divcol2.className="col-md-8";
                var a =document.createElement("a");
                a.href = "#";
                var img =document.createElement("img");
                var h50=document.createElement("h5");
                var h51=document.createElement("h5");
                var h52=document.createElement("h5");
                var h53=document.createElement("h5");
                var h54=document.createElement("h5");
                var h55=document.createElement("h5");
                img.src="{{ url_for('static',filename='movie.jpg')}}";
                img.style.textAlign="left";
                img.style.width="80";
                img.style.height="150";
                img.id=list[i][1];
                var val = document.createAttribute("onclick");
                val.value = "movieClick(this.id)";
                img.setAttributeNode(val);
                var name1=list[i][0];
                var name2=list[i][1];
                var name3=list[i][2];
                var name4=list[i][3];
                var name5=list[i][4];
                var name6=list[i][5];
                h50.innerHTML="Average Rating: "+name1;
                h51.innerHTML="Movie ID. : "+name2;
                h52.innerHTML="No. of Times Rated : "+name3;
                h53.innerHTML="Movie Title :"+name4;                                
                h54.innerHTML="Release Date :"+name5;
                h55.innerHTML="Movie Genre :"+name6;
                divrow.appendChild(divcol1);
                divrow.appendChild(divcol2);
                divcol1.appendChild(a);
                a.appendChild(img);
                divcol2.appendChild(h50);
                divcol2.appendChild(h51);
                divcol2.appendChild(h52);
                divcol2.appendChild(h53);
                divcol2.appendChild(h54);
                divcol2.appendChild(h55);
                document.getElementById("wholenewdiv1").appendChild(divrow);
            
                }
        
                               
            }
             
                  
            
        });  
    });
  });
$(function() {
    $("#btnofquery").click(function() {
         
         //var a = document.getElementById("wholenewdiv");
         var c1=document.getElementById("111").checked;
         var c2=document.getElementById("112").checked;
         var c3=document.getElementById("113").checked;
         var c4=document.getElementById("114").checked;
         var c5=document.getElementById("115").checked;
         var d1=document.getElementById("11").value;
         var d2=document.getElementById("12").value;
         var d3=document.getElementById("13").value;
         var d4=document.getElementById("14").value;
         var d5=document.getElementById("15").value;
         var d6=document.getElementById("16").value;
         // alert(c1);
         $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/querymaster",
            contentType: "application/json; charset=utf-8",
            data: { echo1:c1,echo2:c2,echo3:c3,echo4:c4,echo5:c5,decho1:d1,decho2:d2,decho3:d3,decho4:d4,decho5:d5,decho6:d6, },
            success: function(data) {
                        var a = document.getElementById("wholenewdiv");
                while(a.hasChildNodes()) {
                a.removeChild(a.lastChild);
                    }
                 list= data.value;
                
                console.log(list.length);
               for( var i=0; i<list.length;i++)
                {
                var divrow =document.createElement("div");
                divrow.className="row well well-sm";
                var divcol1 =document.createElement("div");
                divcol1.className="col-md-4";
                var divcol2 =document.createElement("div");
                divcol2.className="col-md-8";
                var a =document.createElement("a");
                a.href = "#";
                var img =document.createElement("img");
                var h50=document.createElement("h5");
                var h51=document.createElement("h5");
                var h52=document.createElement("h5");
                var h53=document.createElement("h5");
                var h54=document.createElement("h5");
                var h55=document.createElement("h5");
                img.src="{{ url_for('static',filename='movie.jpg')}}";
                img.style.textAlign="left";
                img.style.width="150";
                img.id=list[i][1];
                var val = document.createAttribute("onclick");
                val.value = "movieClick(this.id)";
                img.setAttributeNode(val);
                var name1=list[i][0];
                var name2=list[i][1];
                var name3=list[i][2];
                var name4=list[i][3];
                var name5=list[i][4];
                var name6=list[i][5];
                h50.innerHTML="Average Rating: "+name1;
                h51.innerHTML="Movie ID. : "+name2;
                h52.innerHTML="No. of Times Rated : "+name3;
                h53.innerHTML="Movie Title :"+name4;                                
                h54.innerHTML="Release Date :"+name5;
                h55.innerHTML="Movie Genre :"+name6;
                divrow.appendChild(divcol1);
                divrow.appendChild(divcol2);
                divcol1.appendChild(a);
                a.appendChild(img);
                divcol2.appendChild(h50);
                divcol2.appendChild(h51);
                divcol2.appendChild(h52);
                divcol2.appendChild(h53);
                divcol2.appendChild(h54);
                divcol2.appendChild(h55);
                document.getElementById("wholenewdiv").appendChild(divrow);
                
                }
                
                               
            }
             
                  
            
        });  
    });
  });
$(function() {
    $("#rlprevinput").keyup(function(event) {
    	if(event.keyCode > 40 || event.keyCode == 32)
    	{
    	console.log(event.keyCode);
        var datal= document.getElementById('list1');
        var input = document.getElementById('rlprevinput');
        /*alert("hello");*/
         $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/autocomplete",
            contentType: "application/json; charset=utf-8",
            data: { echoValue: $('input[name="abc"]').val() },
            success: function(data) {
                console.log(data);
                var options =  "";
                list = data.value;
                for(i = 0 ; i < list.length; i++ ) {
                   var option = "<option value ='" + list[i] + "'>" + list[i] + "</option>";
       				options = options + option;
                }
                $('#list1').html(options);
            }
       	});
       	}     
    });
  });
$(function() {
    $("#submitBtn").click(function() {
    	 var a = document.getElementById("wholenewdiv");
    	 while(a.hasChildNodes()) {
    	 	a.removeChild(a.lastChild);
    	 }
         $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/moviesupdate",
            contentType: "application/json; charset=utf-8",
            data: { echoValue: $('input[name="abc"]').val() },
            success: function(data) {
                list= data.value;
                
                console.log(list.length);
                for( var i=0; i<list.length;i++)
    			{
    			var divrow =document.createElement("div");
    			divrow.className="row well well-sm";
    			var divcol1 =document.createElement("div");
    			divcol1.className="col-md-4";
    			var divcol2 =document.createElement("div");
    			divcol2.className="col-md-8";
    			var a =document.createElement("a");
    			a.href = "#";
    			var img =document.createElement("img");
    			var h50=document.createElement("h5");
    			var h51=document.createElement("h5");
    			var h52=document.createElement("h5");
    			var h53=document.createElement("h5");
    			img.src="{{ url_for('static',filename='movie.jpg')}}";
    			img.style.textAlign="left";
                img.style.width="150";
                img.id=list[i][3];
                var val = document.createAttribute("onclick");
                val.value = "movieClick(this.id)";
                img.setAttributeNode(val);
    			/*var elem = document.createElement("img");
    			elem.src = list[4];*/
    			var name1=list[i][0];
    			var name2=list[i][1];
    			var name3=list[i][2];
    			var name4=list[i][3];
    			h50.innerHTML="Movie Title: "+name1;
    			h51.innerHTML="Genre: "+name2;
    			h52.innerHTML="Year of Release: "+name3;
    			h53.innerHTML="Movie ID.: "+name4;
    			divrow.appendChild(divcol1);
    			divrow.appendChild(divcol2);
    			divcol1.appendChild(a);
    			a.appendChild(img);
    			divcol2.appendChild(h50);
    			divcol2.appendChild(h51);
    			divcol2.appendChild(h52);
    			divcol2.appendChild(h53);
    			document.getElementById("wholenewdiv").appendChild(divrow);
                
                
                            
    		}
    			/*document.getElementById("placehere").appendChild(elem);*/
             
               	  
            }
        });     
    });
  });
</script>
<script type="text/javascript">
var movieid;
    function movieClick(name) {
    var a = document.getElementById("wholenewdiv");
    while(a.hasChildNodes()) {
            a.removeChild(a.lastChild);
            }
    /*console.log(name);*/
    $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/rate",
            contentType: "application/json; charset=utf-8",
            data: { echoValue: name },
            success: function(data) {
                console.log(data.value);
                list=data.value;
                console.log(list.length);
                console.log(list[0][0]);
                console.log(list[0][1]);
                console.log(list[0][2]);
                console.log(list[0][3]);
                var divrow =document.createElement("div");
                divrow.className="row well well-sm";
                var divcol1 =document.createElement("div");
                divcol1.className="col-md-4";
                var divcol2 =document.createElement("div");
                divcol2.className="col-md-8";
                var a =document.createElement("a");
                a.href = "#";
                var img =document.createElement("img");
                var h50=document.createElement("h5");
                var h51=document.createElement("h5");
                var h52=document.createElement("h5");
                var h53=document.createElement("h5");
                img.src="{{ url_for('static',filename='movie.jpg')}}";
                img.style.textAlign="left";
                img.style.width="150";
                img.id=list[0][1];
                var val = document.createAttribute("onclick");
                val.value = "movieClick(this.id)";
                img.setAttributeNode(val);
                var name1=list[0][0];
                var name2=list[0][1];
                movieid=name2;
                var name3=list[0][2];
                var name4=list[0][3];
                h50.innerHTML="Movie Title: "+name1;
                h51.innerHTML="Movie ID: "+name2;
                h52.innerHTML="Average Rating: "+name3;
                h53.innerHTML="No. of Times Rated: "+name4;
                divrow.appendChild(divcol1);
                divrow.appendChild(divcol2);
                divcol1.appendChild(a);
                a.appendChild(img);
                divcol2.appendChild(h50);
                divcol2.appendChild(h51);
                divcol2.appendChild(h52);
                divcol2.appendChild(h53);
                document.getElementById("wholenewdiv").appendChild(divrow);
                var divrow1 =document.createElement("div");
                divrow1.className="row well well-sm";
                var divcol11 =document.createElement("div");
                divcol11.className="col-sm-8";
                var divcol21 =document.createElement("div");
                divcol21.className="col-sm-4";
                var button = document.createElement("input");
                var input=document.createElement("input");
                input.type="text";
                input.className="input-sm";
                input.id="abc1";
                button.className="btn btn-info";
                button.value="Rate";
                button.type="button";
                var val = document.createAttribute("onclick");
                val.value = "userrate(this.id)";
                button.setAttributeNode(val);
                divrow1.appendChild(divcol11);
                divrow1.appendChild(divcol21);
                divcol21.appendChild(button);
                divcol11.appendChild(input);
                document.getElementById("wholenewdiv").appendChild(divrow1);
                
            }
    });
                        
    
    }
function userrate(name) {
    var a = document.getElementById("wholenewdiv");
     var id_of_rate  =document.getElementById("abc1").value;
     
    while(a.hasChildNodes()) {
            a.removeChild(a.lastChild);
            }
    /*console.log(name);*/
    $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/updaterating",
            contentType: "application/json; charset=utf-8",
            data: { echoValue: id_of_rate, echoValue1: movieid },
            success: function(data) {
                // console.log(data)
                alert(data);
                
            }
    });
                        
    
    }
</script>

</body>
</html>